.splash-subhead .fa {
	padding-left: 10px;
	padding-right: 10px;
}

.sky-background {
	background-size: cover;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	bottom: auto;
	right: auto;
	z-index: -1;
}

article {
	background-color: white;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 1%;
	position: absolute;
	left: 350px;
	right: 30px;
	top: 100px;
}

p {
	font-size: 1.3em;
	line-height: 1.3em;
	color: black;
	font-weight: 500;
	padding: 0;
	font-family: Myriad Pro, sans-serif;
}

h1 {
	font-family: Helvetica, sans-serif;
}

.content ul {
	list-style: none;
}

.content li {
	display: inline;
	padding: 40px;
}

li {
	font-family: Helvetica, Sans-Serif;
	color: #3849AB;
}

.menu {
    width: 6.3em;
    height: 6.3em;
    font-family: Helvetica,sans-serif;
    font-weight: bold;
    text-align: left;
    background-color: #CFDEFA;
    position: fixed;
    left: 7.5%;
    top: 26%;
    opacity: 0.8;
}

.menu ul {
	position: relative;
	height: auto;
	margin: 3px;
	padding-left: 0px;
}

.menu ul li {
	text-align: left;
	list-style-type: none;
	margin: 0px;
	padding: 3px;
	display: inline-block;
}

.menu li a:link {
	text-decoration: none;
}

.menu li a:hover {
	text-decoration: none;
	color: #0DAAFF;
}

/**
#social-menu {
	background-color: rgb(30,30,88);
	opacity: 0.9;
	width: 75px;
	height: 200px;
	bottom: 25%;
	left: 5%;
	position: absolute;
} 

**/

#social-menu ul {
	display: block;
	position: absolute;
	left: 42%;
	bottom: 25%;
	padding-left: 15px;
	
}


#social-menu ul li {
	padding: 10px;
	display: inline-block;
	text-decoration: none;
} 

#social-menu a {
	color: #492BA1;
}


.logo img {
	z-index: 3;
	height: 15em;
	width: 15em;
	position: relative;
}

div .logo img {
	margin: 0;
	position: absolute;
	left: 42%;
	top: 30%;
	transform: translate(0, -50%);
}

.logo p {
	position: absolute;
	margin: 0;
	left: 40%;
	bottom: 35%;
	transform: translate(0, -50%);
}

#pyramid img {
    height: 20em;
    width: 20em;
    position: absolute;
    margin: 0;
	right: 8%;
	bottom: 14%;
	opacity: 0.6;
	transform: translate(0, -50%);
}

#cube img {
	height: 10em;
	width: 10em;
	position: absolute;
	margin: 0;
	right: 7%;
	bottom: 25%;
}

#dodeca img {
	height: 25em;
	width: 25em;
	position: absolute;
	margin: 0;
	left: 6%;
	bottom: 50%;
	opacity: 0.5;
}

#julia img {
	height: 8em;
	width: 8em;
	position: absolute;
	margin: 0;
	left: 68%;
	bottom: 12%;
	opacity: 0.7;
}

.shapes #blog {
    position: fixed;
    margin: 0;
	right: 28%;
	bottom: 55%;
	font-family: Helvetica, sans-serif;
	color: #3849AB;
	background-color: #C8CFFA;
	opacity: 0.7;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 8px;
}

/** Media query for mobile below **/
@media (max-width: 600px) {
	#dodeca img {
		width: 7.5em;
		height: 7.5em;
		position: absolute;
		top: 10px;
	}
	#julia img {
		display: none;
	}
	.logo img {
		width: 10em;
		height: 10em;
	}
	#pyramid img {
		width: 7em;
		height: 7em;
		position: absolute;
		left: 7%;
		bottom: 6%;
	}
	#cube img {
		width: 7em;
		height: 7em;
		position: absolute;
		left: 30%;
		bottom: 3%;
	}
	.menu {
		width: 20em;
		height: 2em;
		position: absolute;
		left: 25%;
		bottom: 15%;
	}
	#social-menu ul {
		left: 35%;
	}
}


@media only screen and (min-width: 601px) and (max-width: 1000px) {
	.logo img {
		width: 12em;
		height: 12em;
	}
	#julia img {
		position: absolute;
		bottom: 5%;
		left: 75%;
	}
	#cube img {
		position: absolute;
		left: 20%;
		bottom: 6%;
	}
	#pyramid img {
		right: 3%;
		bottom: 29%;
	}
	.menu {
		left: 26%;
		bottom: 8%;
	}
}

/** Media query for table **/

@media only screen and (min-width: 601px) and (max-width: 1000px) {
	#dodeca img {
		width: 11em;
		height: 11em;
		position: absolute;
	}
	.logo img {
		width: 12em;
		height: 12em;
	}
	#julia img {
		position: absolute;
		bottom: 5%;
		left: 75%;
		width: 10em;
		height: 10em;
	}
	#cube img {
		position: absolute;
		left: 20%;
		bottom: 6%;
	}
	#pyramid img {
		right: 3%;
		bottom: 29%;
	}
	.menu {
		left: 26%;
		bottom: 8%;
	}

}