.sky-background {
	background-size: cover;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	bottom: auto;
	right: auto;
	z-index: -1;
}

h1 {
	font-size: 2em;
	line-height: 2em;
	color: #3849AB;
	font-weight: 500;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	left: 13%;
	margin-top: 25px;
	margin-bottom: 0px;
}

h2 {
	font-size: 1.5em;
	line-height: 0.5em;
	color: #3849AB;
	font-weight: 500;
	padding: 0;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	left: 13%;
	margin: 0;
	padding-top: 5px;
}

h4 {
	font-size: 1.3em;
	line-height: 1em;
	color: #3849AB;
	font-weight: 500;
	padding: 0;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	left: 13%;
	margin-bottom: 0px;
}

section {
	position: relative;
	width: 70%;
	left: 10%;
	background-color: #D4D9FA;
	opacity: 0.9;
	padding-bottom: 2%;
	margin-bottom: 8%;
}

section h4 {
	color: black;
	font-weight: unset;
	left: 5%;
	padding-top: 3%;
	margin: 0;
}

section p {
	font-family: Myriad Pro, sans-serif;
	padding-left: 5%;
	padding-right: 4%;
}

footer .menu {
    width: 8em;
    height: 8em;
    font-family: Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #CFDEFA;
    position: fixed;
    right: 2%;
    bottom: 25%;
    opacity: 0.8;
}

footer .menu ul {
	position: relative;
	height: auto;
  	padding: 0px;
	padding-top: 3px;
  	margin: 11px;
}

footer .menu ul li {
 	text-align: left;
 	padding-top: 6px;
	padding-left: 6px;
	list-style-type: none;
}

footer .menu ul li a:link {
	text-decoration: none;
}

footer .menu ul li a:hover {
	text-decoration: none;
	color: #0DAAFF
}

section ul li {
	list-style-type: none;
}

blockquote {
	font-style: italic;
	margin-bottom: 0px;
}

article img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}