.sky-background {
	background-size: cover;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	bottom: auto;
	right: auto;
	z-index: -1;
}

body {
	overflow-x: hidden;
}

h1 {
	font-size: 3em;
	line-height: 2em;
	color: #8097FF;
	font-weight: 500;
	padding: 0;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
 	position: relative;
  	left: 30%;
  	top: 0%;
  	margin: 0;
}

/**
h3 {
	font-size: 1.3em;
	line-height: 1.3em;
	color: #3849AB;
	font-weight: 500;
	padding: 0;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
  position: relative;
  left: 20%;
  top: 0;
  margin: 0;
}

.posts ul {
	width: 515px;
	height: 360px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	background-color: #D4D9FA;
	position: relative;
	left: 20%;
	top: 0%;
	opacity: 0.8;
	line-height: 1.3em;
	padding-top: 20px;
} How do you do a wildcard so CSS for all post#'s are replicated? **/

.posts #post1, #post2, #post3, #post4, #post5, #post6 {
	width: 515px;
	height: 50px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	background-color: #D4D9FA;
	position: relative;
	left: 20%;
	top: 0%;
	opacity: 0.8;
	line-height: 1.3em;
	padding-top: 15px;
	padding-left: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
}


.posts a:link {
	text-decoration: none;
}

.posts a:hover {
	text-decoration: none;
	color: #0DAAFF;
}

#pyramid img {
	height: 10em;
	width: 10em;
	position: absolute;
	margin: 0;
	right: 15%;
	bottom: 35%;
	transform: translate(0, -50%);
}

#cube img {
	height: 10.2em;
	width: 10.2em;
	position: absolute;
	margin: 0;
	right: 7%;
	bottom: 25%;
}

footer .menu {
    width: 6.3em;
    height: 6.3em;
    font-family: Helvetica,sans-serif;
    font-weight: bold;
    text-align: left;
    background-color: #CFDEFA;
    position: fixed;
    right: 7.7%;
    bottom: 26.3%;
    opacity: 0.8;
}

footer .menu ul {
	position: relative;
	height: auto;
	margin: 3px;
	padding-left: 0px;
}

footer .menu ul li {
	text-align: left;
	list-style-type: none;
	margin: 0px;
	padding: 3px;
	display: inline-block;
}
footer .menu ul li a:link {
	text-decoration: none;
}

footer .menu ul li a:hover {
	text-decoration: none;
	color: #0DAAFF
}