.sky-background {
	position: fixed;
	left: 0px;
	top: -146px;
	width: 1050px;
	height: 697px;
	bottom: auto;
	right: auto
}

p {
	font-size: 1.2em;
	line-height: 1.3em;
	color: black;
	padding: 0;
	font-family: Helvetica, sans-serif;
}

.content ul {
	list-style: none;
}

.content li {
	display: inline;
	padding: 40px;
}